<ion-header>
  <ion-navbar>
    <ion-title>ChatBot {{tabValue}}</ion-title>
  </ion-navbar>
</ion-header>

<!-- 
<ng-container *ngIf="tabValue === 'My Assistant'">
        <ion-content>
  <h5 style="color: white;font-size: xx-large;text-align: center;">Not Assistant</h5>
    </ion-content>
</ng-container> -->

<!------------------------ Genee Notification and Insights -------------------------->
<!-- <ng-container *ngIf="tabValue !== 'My Assistant'"> -->
<ion-content>
  <!-- Bot Conversation Section -->
  <div class="messages" id="messagesContent">
    <ng-container #messageContainer *ngFor="let message of messages">
      <!-- User Message -->
      <div *ngIf="message.from === userName" class="user_message">
        <div class="text_wrapper">
          <div class="text">
            <p>{{message.text}}</p>
          </div>
          <div *ngIf="message.contentType == 'adaptive'" [innerHTML]="adaptiveCardHtml" class="adaptive">
          </div>
          <div *ngIf="message.cards">
            <button ion-button outline round *ngFor="let card of message.cards" (click)="sendMessage(card.value)">
              {{card.title}}
            </button>
          </div>
        </div>
        <div class="image_wrapper">
          <ngx-avatar [name]="userName"></ngx-avatar>
        </div>
        <div class="timestamp_wrapper">
          {{message.timestamp | amCalendar}}
        </div>
      </div>
      <!-- User Message -->
      <!-- Bot Message -->
      <div *ngIf="message.from !== userName" class="bot_message">
        <div class="image_wrapper">
          <img src="assets/imgs/ogeenee.png" class="bot_img_size" />
        </div>
        <div class="text_wrapper">
          <div class="text">
            <p>{{message.text}}</p>
          </div>
          <div *ngIf="message.contentType == 'adaptive' " [innerHTML]="adaptiveCardHtml" class="adaptive"></div>
          <div *ngIf="message.cards">
            <button ion-button outline round *ngFor="let card of message.cards" (click)="sendMessage(card.value)">
              {{card.title}}
            </button>
          </div>
        </div>
        <div class="timestamp_wrapper">
          {{message.timestamp | amCalendar}}
        </div>
      </div>
      <!-- Bot Message -->
    </ng-container>
  </div>
  <!-- Bot Conversation Section -->
  <!------------------------ Genee Notification and Insights -------------------------->
</ion-content>
<!-- User Input Section -->
<ion-footer>
  <ion-item class="item-input-ht">
    <ion-input [(ngModel)]="finalText" type="text" placeholder="Enter your text..." (keyup.enter)="sendMessage()">
    </ion-input>
    <button ion-button clear large type="button" id="buttonO" [ngClass]="'send_message'" (click)="listenForSpeech()"
      [color]="isRecording ? 'danger' : 'default'" item-right>
      <ion-icon name="ios-mic"></ion-icon>
    </button>
  </ion-item>
</ion-footer>
<!-- User Input Section -->
<!-- </ng-container> -->